@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway
}

body{
  background-image: linear-gradient(to right, #ff5757, #8c52ff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}



